[Unit]
Description=Update system Flatpaks
Documentation=man:flatpak(1)
Wants=network-online.target
After=network-online.target
ConditionPathExists=/var/lib/flatpak

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak update --system --noninteractive --assumeyes
ExecStartPost=/usr/bin/flatpak uninstall --system --unused --noninteractive --assumeyes
# Be gentle: this is background maintenance, not interactive work.
Nice=10
IOSchedulingClass=idle
